In [51]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import smtplib
import datetime
import time

In [33]:
url = "https://www.amazon.in/Puma-Dazzler-Black-Puma-Silver-Sneaker/dp/B09RGJCVW6/ref=sr_1_1?_encoding=UTF8&content-id=amzn1.sym.f08d43d1-8a17-4787-a3ba-ffaf0fa6dab5&dib=eyJ2IjoiMSJ9.pEU_SG8s_QSdtEV_8RiIUV5OSCQL0wh0YYmnxWsJ9x43BSA-DdHP6l_7t5r6ThgMuxol1oazs5dZ1OVkRcdpfyWw0_4ULGZ4UapeGXYapQIiuDXT8Ur8WExh3T-AVtNaccmSXx8tZJUyDcZ9C-RS4S_kW6XmMuSKKlkNx2i8syBDq_4MH7wQs2pziJR-zkaMoHBYsbs9YlI9nkco6SUhDQmG1dPhKrAPvfybfoqg3UMM-slXFiHjS6klC8K86svEpwTIVyqMViH9iGOiwkt3mFIuOwRfKM7bS7amk9qFFBY.uwfiTnZD23boXaWuSKyiph1IWdJriA4Pz0fjDNF_L8w&dib_tag=se&pd_rd_r=42fb280a-7569-496d-bd5b-c96138d1a20c&pd_rd_w=L9jEg&pd_rd_wg=CNEvt&pf_rd_p=f08d43d1-8a17-4787-a3ba-ffaf0fa6dab5&pf_rd_r=X3CQJHXHDJ3J9F5NG3N1&qid=1720599676&refinements=p_72%3A1318477031%2Cp_36%3A60000-%2Cp_n_feature_nineteen_browse-bin%3A11301363031&rnid=11301362031&s=apparel&sr=1-1"

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"}

page = requests.get(url, headers = headers)
# print(page)

soup1 = BeautifulSoup(page.content , 'html.parser')
# print(soup1)

soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')
# print(soup2)

title = soup2.find(id = "productTitle").text.strip()
price = soup2.find(class_ = "a-price-whole").text.strip()
# print(title)
# print(price)

In [44]:
date = datetime.date.today()
print(date)

2024-07-10

In [ ]:
import csv

header = ['Title', 'Price','Date']
data = [title, price, date]
type(data)

# with open('Amazon.csv', 'w', newline = '', encoding = 'UTF8') as f:
#     writer = csv.writer(f)
#     writer.writerow(header)
#     writer.writerow(data)

In [48]:
df = pd.read_csv(r"C:\Users\Inderveer Singh\Data Analystics\Pandas\Amazon.csv")
df

                         Title  Price        Date
0  Puma Men's Dazzler Sneakers  2,559  2024-07-10
1  Puma Men's Dazzler Sneakers  2,559  2024-07-10

In [47]:
# to append csv

with open('Amazon.csv', 'a+', newline = '', encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [54]:
def check_price():
    url = "https://www.amazon.in/Puma-Dazzler-Black-Puma-Silver-Sneaker/dp/B09RGJCVW6/ref=sr_1_1?_encoding=UTF8&content-id=amzn1.sym.f08d43d1-8a17-4787-a3ba-ffaf0fa6dab5&dib=eyJ2IjoiMSJ9.pEU_SG8s_QSdtEV_8RiIUV5OSCQL0wh0YYmnxWsJ9x43BSA-DdHP6l_7t5r6ThgMuxol1oazs5dZ1OVkRcdpfyWw0_4ULGZ4UapeGXYapQIiuDXT8Ur8WExh3T-AVtNaccmSXx8tZJUyDcZ9C-RS4S_kW6XmMuSKKlkNx2i8syBDq_4MH7wQs2pziJR-zkaMoHBYsbs9YlI9nkco6SUhDQmG1dPhKrAPvfybfoqg3UMM-slXFiHjS6klC8K86svEpwTIVyqMViH9iGOiwkt3mFIuOwRfKM7bS7amk9qFFBY.uwfiTnZD23boXaWuSKyiph1IWdJriA4Pz0fjDNF_L8w&dib_tag=se&pd_rd_r=42fb280a-7569-496d-bd5b-c96138d1a20c&pd_rd_w=L9jEg&pd_rd_wg=CNEvt&pf_rd_p=f08d43d1-8a17-4787-a3ba-ffaf0fa6dab5&pf_rd_r=X3CQJHXHDJ3J9F5NG3N1&qid=1720599676&refinements=p_72%3A1318477031%2Cp_36%3A60000-%2Cp_n_feature_nineteen_browse-bin%3A11301363031&rnid=11301362031&s=apparel&sr=1-1"

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"}
    
    page = requests.get(url, headers = headers)
    # print(page)
    
    soup1 = BeautifulSoup(page.content , 'html.parser')
    # print(soup1)
    
    soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')
    # print(soup2)
    
    title = soup2.find(id = "productTitle").text.strip()
    price = soup2.find(class_ = "a-price-whole").text.strip()
    date = datetime.date.today()
    
    import csv

    header = ['Title', 'Price','Date']
    data = [title, price, date]
    type(data)
    
    with open('Amazon.csv', 'a+', newline = '', encoding = 'UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:
while(True):
    check_price()
    time.sleep(86400)

In [58]:
df = pd.read_csv(r"C:\Users\Inderveer Singh\Data Analystics\Pandas\Amazon.csv")
df

                         Title  Price        Date
0  Puma Men's Dazzler Sneakers  2,559  2024-07-10
1  Puma Men's Dazzler Sneakers  2,559  2024-07-10
2  Puma Men's Dazzler Sneakers  2,559  2024-07-10
3  Puma Men's Dazzler Sneakers  2,559  2024-07-10
4  Puma Men's Dazzler Sneakers  2,559  2024-07-10
5  Puma Men's Dazzler Sneakers  2,559  2024-07-10
6  Puma Men's Dazzler Sneakers  2,559  2024-07-10
7  Puma Men's Dazzler Sneakers  2,559  2024-07-10